<!DOCTYPE html>
<html id="index-background">
<head>
	<title></title>
	 
	 <!-- Compiled and minified CSS -->
    	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

		<link rel="stylesheet" type="text/css" href="/CSS/index.css">
</head>

<body>

<nav>
  <div class="nav-wrapper">
    <a href="i/blog" class="brand-logo"><img src="../Images/logo-plain.png" id="logo-plain"></img></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/blog">Blog</a></li>

      <li><a href="/login">Login</a></li>
      <li><a href="/signup">Sign Up</a></li>

    </ul>
  </div>
</nav>

<a href="/login"><button>Login</button></a>


<% @blogs.each do |blogs| %>
<p><%= blogs.user_id %></p>
<%end%>

<% @posts.each do |posts| %>
<p><%= posts.blog_id %></p>
<p><%= posts.post_title %></p>
<p><%= posts.post_content %></p>
<%end%>

<% @tags.each do |tags| %>
<p><%= tags.tag_name %></p>
<%end%>


<% @tagandposts.each do |tagandposts| %>
<p><%= tagandposts.tag_id %></p>
<p><%= tagandposts.post_id %></p>
<%end%>
          
<!-- Compiled and minified JavaScript -->
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

    	<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

  <script src="/JS/index.js"></script>

</body>
</html>